<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Meridian Hotel </title>
	<meta name="description" content="Meridian Hotel">
	<!-- Latest compiled and minified CSS -->
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

	<style>
	body{
		padding-top: 40px;
    background-color: gray;
	}

	</style>

<body data-spy="scroll" data-target="#my-navbar">

  <!-- Navbar -->
  	<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
  		<div class="container">
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>

  				<a href="" class="navbar-brand">Meridian</a>
  			</div><!-- Navbar Header-->
  			<div class="collapse navbar-collapse" id="navbar-collapse">

  				<ul class="nav navbar-nav">

  				</ul>
  			</div>
  		</div><!-- End Container-->
  	</nav><!-- End navbar -->

  	<!-- jumbotron-->
    <!-- jumbotron-->

    <div class="jumbotron" style="height:200px;">
      <div class="container text-center">
        <h1>Meridien Hotel.</h1>

      </div><!-- End container -->
    </div><!-- End jumbotron-->
     <div class="container"style="background-color:white;height:350px;widht:70%;width:800px;padding:40px;">


          <p class="lead">You have successfully logged out.</p>
          <p class="lead">Thank you</p>

      	<a href="/" class="btn btn-primary navbar-btn navbar-left">Home Page</a>

     </div>
  </body>
</html>
