<html>
  <head>
    <title>Register!</title>

    <head>
    	<meta charset="utf-8">
    	<title>Meridian Hotel </title>
    	<meta name="description" content="Meridian Hotel">
    	<!-- Latest compiled and minified CSS -->
    	 <!-- Latest compiled and minified CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    	<!-- Optional theme -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
  </head>
  <style>
  body{
    padding-top: 40px;

  }

  </style>

  <body data-spy="scroll" data-target="#my-navbar">

    <!-- Navbar -->
    	<nav class="navbar navbar-default navbar-fixed-top" id="my-navbar">
    		<div class="container">
    			<div class="navbar-header">
    				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    				</button>

    				<a href="" class="navbar-brand">Meridian</a>
    			</div><!-- Navbar Header-->
    			<div class="collapse navbar-collapse" id="navbar-collapse">

    			<a href="" class="btn btn-warning navbar-btn navbar-center">Register</a>
    				<ul class="nav navbar-nav">

    				</ul>
    			</div>
    		</div><!-- End Container-->
    	</nav><!-- End navbar -->

    	<!-- jumbotron-->


	<div class="container" style="background-color:white;height:350px;padding:20px;padding:30px;width:60%;padding-top:0px">
    <h1 class="display-3">Trying to Recognize you...</h1>
    <img id="bg" src="{{ url_for('video_feed') }}">
      <a  href="/success">Proceed</a>
   </div>

<!-- Indicates a dangerous or potentially negative action -->

  </body>
</html>
